YGL/Connected Services/KGMWebService/gmWebServlet1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://impl.webService.jeesite.thinkgem.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://webService.jeesite.thinkgem.com/" name="gmWebServlet" targetNamespace="http://impl.webService.jeesite.thinkgem.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://webService.jeesite.thinkgem.com/" location="http://www.lchh.com/BRK/ws/GmWebServlet?wsdl=GmWebServlet.wsdl" />
  <wsdl:types />
  <wsdl:binding name="gmWebServletSoapBinding" type="ns1:GmWebServlet">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="saveScheduling">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="saveScheduling">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveSchedulingResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jsonOutTxt">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="jsonOutTxt">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="jsonOutTxtResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderInfoByPeopleNo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getOrderInfoByPeopleNo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getOrderInfoByPeopleNoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="login">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="datacodeOutJson">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="datacodeOutJson">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="datacodeOutJsonResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVerifyCodeByContactsName">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVerifyCodeByContactsName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVerifyCodeByContactsNameResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveCardNo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="saveCardNo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveCardNoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResult">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getResult">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getResultResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceTime">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getServiceTime">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getServiceTimeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isExistOrder">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="isExistOrder">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="isExistOrderResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fileOutXls">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="fileOutXls">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="fileOutXlsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardNoByOrder">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCardNoByOrder">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCardNoByOrderResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="gmWebServlet">
    <wsdl:port name="GmWebServletImplPort" binding="tns:gmWebServletSoapBinding">
      <soap:address location="http://www.lchh.com/BRK/ws/GmWebServlet" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>